@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

#header {
  width: 100%;
  position: relative;
  transition: 1s;
}
#header .inner {
  content: "";
  display: block;
  clear: both;
  width: 1180px;
  margin: 0 auto;
  position: relative;
  transition: 1s;
}
#header .inner a {
  display: block;
}
#header .inner a img {
  width: 13%;
  position: absolute;
  left: 3vh;
  top: 2.8vh;
  z-index: 11;
}
#header .inner .menuWeb {
  position: relative;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  right: 3vh;
  top: 3vh;
  z-index: 11;
}
#header .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb li a {
  position: relative;
  margin-right: 30PX;
  color: #fff;
  font-size: 25px;
  font-family: "Noto Sans KR";
}
#header .inner .menuWeb #gnb li a::before {
  content: "";
  display: block;
  clear: both;
  height: 2px;
  width: 0px;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.3s;
  position: absolute;
  bottom: -13%;
  left: 0;
}
#header .inner .menuWeb #gnb li a:hover::before {
  width: 100%;
  background: rgb(255, 150, 98);
}
#header::aftrer {
  height: 500px;
  background-color: #fff;
}

figure {
  position: relative;
  z-index: 4;
  width: 100%;
  overflow: hidden;
  background: #000;
}
figure .main {
  width: 100%;
  height: 100vh;
  background: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.7;
}
figure .inner {
  width: 1180px;
  margin: 0 auto;
}
figure .inner h1 {
  position: absolute;
  bottom: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: bold 120px/1 "Noto Sans KR", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  text-shadow: 1px 1px 1px rgb(0, 0, 1);
  animation: slide 3s;
}

@keyframes slide {
  from {
    bottom: 0%;
    opacity: 0;
  }
  to {
    bottom: 35%;
    opacity: 1;
  }
}
#sub {
  width: 100%;
  height: 1000px;
  position: relative;
}
#sub .subbtns {
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sub .subbtns > li {
  text-align: center;
  margin-right: 20px;
  color: #999;
  display: block;
  cursor: pointer;
}
#sub .subbtns > li.on {
  font-weight: bold;
  color: rgb(255, 150, 98);
}
#sub .wrap {
  width: 1180px;
  height: 720px;
  margin: 0 auto;
}
#sub .wrap article {
  width: 1180px;
  height: 720px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 3s;
}
#sub .wrap article.on {
  opacity: 1;
}
#sub .wrap article:nth-of-type(1) {
  background: url(../img/dining.jpg) no-repeat center/cover;
}
#sub .wrap article:nth-of-type(2) {
  background: url(../img/fitness.jpg) no-repeat center/cover;
}
#sub .wrap article:nth-of-type(3) {
  background: url(../img/wedding.jpg) no-repeat center/cover;
}

#introduce {
  width: 100%;
  margin-bottom: 120px;
  position: relative;
}
#introduce .wrap {
  width: 100%;
  position: relative;
  animation: leftslide linear 2s;
}
#introduce .wrap .inner {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1180px;
  height: 200px;
  margin: 0 auto;
}
#introduce .wrap .inner p {
  text-align: right;
}
#introduce .wrap .inner p::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 35%;
  right: 47%;
  width: 5px;
  height: 70px;
  background-color: rgb(255, 150, 98);
  opacity: 0.5;
}
#introduce .back {
  width: 100%;
  height: 200px;
  background: rgb(255, 251, 247);
  position: absolute;
  top: 0%;
  z-index: -1;
}

@keyframes leftslide {
  0% {
    left: -50%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}
#package {
  width: 100%;
  position: relative;
  height: 800px;
}
#package .background {
  width: 100%;
  height: 400px;
  background: #e7dbd1;
  position: absolute;
  top: 51%;
  left: 0;
}
#package .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
#package .inner > h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 3vw;
}
#package .inner > p {
  text-align: center;
  font-size: 1vw;
  margin-bottom: 100px;
  color: #999;
}
#package .inner .sidebar {
  width: 380px;
  height: 500px;
  position: relative;
}
#package .inner .sidebar .wrap {
  width: 700%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
#package .inner .sidebar .wrap ::after {
  content: "";
  display: block;
  clear: both;
}
#package .inner .sidebar .wrap article {
  width: 14.2857142857%;
  height: 500px;
  float: left;
  margin-right: 20px;
  background: #fff;
  overflow: hidden;
  position: relative;
}
#package .inner .sidebar .wrap article:nth-of-type(6) {
  margin-right: 0px;
}
#package .inner .sidebar .wrap article ::after {
  content: "";
  display: block;
  clear: both;
}
#package .inner .sidebar .wrap article .pic {
  width: 100%;
  height: 255px;
  overflow: hidden;
}
#package .inner .sidebar .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
#package .inner .sidebar .wrap article .pic:hover img {
  transform: scale(1.2);
}
#package .inner .sidebar .wrap article .txt {
  padding: 15px;
}
#package .inner .sidebar .wrap article .txt h5 {
  margin-bottom: 10px;
}
#package .inner .sidebar .wrap article .txt h5 a {
  color: rgb(255, 150, 98);
}
#package .inner .sidebar .wrap article .txt h2 {
  margin-bottom: 15px;
}
#package .inner .sidebar .wrap article .txt h2 a {
  font-size: 1vw;
  color: #000;
}
#package .inner .sidebar .wrap article .txt h2::after {
  content: "";
  display: block;
  clear: both;
  width: 150px;
  height: 2px;
  background-color: rgb(255, 150, 98);
  margin-top: 5px;
}
#package .inner .sidebar .wrap article .txt p {
  margin-bottom: 27px;
}
#package .inner .sidebar .wrap article .txt > a {
  background-color: rgb(255, 150, 98);
  border-radius: 50px;
  display: block;
  width: 100px;
  height: 25px;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: #fff;
}
#package .prev {
  position: absolute;
  top: 65%;
  left: 15%;
}
#package .next {
  position: absolute;
  top: 65%;
  right: 14%;
}

#footer {
  background: rgb(231, 230, 226);
  width: 100%;
  height: 100%;
  position: relative;
  margin: 50px auto;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner article {
  width: 380px;
  margin-right: 20px;
  float: left;
  text-align: center;
  padding: 60px;
}
#footer .inner article img {
  width: 50%;
  margin-bottom: 30px;
}
#footer .inner article:nth-of-type(1) h4 {
  margin-bottom: 20px;
}
#footer .inner article:nth-of-type(1) p {
  line-height: 1.7;
}
#footer .inner article:nth-of-type(2) h4 {
  font-size: 1.1vw;
  margin-bottom: 10px;
}
#footer .inner article:nth-of-type(2) .contact > li {
  line-height: 2;
}
#footer .inner article:nth-of-type(2) .contact > li > i {
  margin-right: 10px;
}
#footer .inner article:nth-of-type(2) .contactsns {
  margin-top: 10px;
}
#footer .inner article:nth-of-type(2) .contactsns a {
  color: #000;
}
#footer .inner article:nth-of-type(2) .contactsns a i {
  font-size: 20px;
  padding: 0 10px;
}
#footer .inner article:last-child {
  margin-right: 0;
}
#footer .inner article:last-child h4 {
  font-size: 1.1vw;
  margin-bottom: 10px;
}
#footer .inner article:last-child ul li {
  line-height: 2.5;
}
#footer .inner article:last-child ul li a {
  color: #000;
}

/*# sourceMappingURL=style.css.map */
