@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ol, ul, li {
  list-style: none;
}

#header {
  width: 100%;
  position: relative;
  transition: 1s;
}
#header .inner {
  content: "";
  display: block;
  clear: both;
  width: 1180px;
  margin: 0 auto;
  position: relative;
  transition: 1s;
}
#header .inner a {
  display: block;
}
#header .inner a img {
  width: 13%;
  position: absolute;
  left: 3vh;
  top: 2.8vh;
  z-index: 11;
}
#header .inner .menuWeb {
  position: relative;
}
#header .inner .menuWeb #gnb {
  position: absolute;
  right: 3vh;
  top: 6vh;
  z-index: 11;
}
#header .inner .menuWeb #gnb li {
  float: left;
}
#header .inner .menuWeb #gnb a {
  display: block;
  padding: 8px;
  color: #fff;
  font-size: 18px;
  font-family: "Noto Sans KR";
}
#header .inner .menuWeb #gnb a span {
  padding: 50px;
}
#header .inner .util {
  display: flex;
  position: absolute;
  right: 3vh;
  top: 2vh;
  z-index: 11;
}
#header .inner .util li a {
  display: block;
  padding: 15px;
  color: #fff;
  font-size: 13px;
}

figure {
  position: relative;
  z-index: 4;
  width: 100%;
  overflow: hidden;
  background: #000;
}
figure .main {
  width: 100%;
  height: 100vh;
  background: url(../img/main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.7;
}
figure .inner {
  width: 1180px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
figure .inner h1 {
  font: bold 120px/1 "Noto Sans KR", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 50px;
  line-height: 60px;
  text-shadow: 1px 1px 1px rgb(0, 0, 1);
}

#sub {
  width: 100%;
  height: 1000px;
  position: relative;
}
#sub .subbtns {
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sub .subbtns > li {
  margin-right: 20px;
  color: #999;
  display: block;
  cursor: pointer;
}
#sub .subbtns > li.on {
  font-weight: bold;
  color: rgb(255, 150, 98);
}
#sub .wrap {
  width: 1180px;
  height: 720px;
  margin: 0 auto;
}
#sub .wrap article {
  width: 1180px;
  height: 720px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 3s;
}
#sub .wrap article.on {
  opacity: 1;
}
#sub .wrap article:nth-of-type(1) {
  background: url(../img/dining.jpg) no-repeat center/cover;
}
#sub .wrap article:nth-of-type(2) {
  background: url(../img/fitness.jpg) no-repeat center/cover;
}
#sub .wrap article:nth-of-type(3) {
  background: url(../img/wedding.jpg) no-repeat center/cover;
}

#introduce {
  width: 100%;
  position: relative;
}
#introduce .inner {
  display: flex;
  justify-content: space-between;
  width: 1180px;
  height: 200px;
  margin: 0 auto;
}
#introduce .inner p {
  text-align: right;
}
#introduce .inner p::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 0;
  right: 47%;
  width: 5px;
  height: 70px;
  background-color: gray;
  opacity: 0.5;
}

#package {
  width: 100%;
  position: relative;
  height: 800px;
}
#package .background {
  width: 100%;
  height: 100vh;
  background: rgb(219, 216, 207);
  position: absolute;
  top: 50%;
  left: 0;
}
#package .inner {
  width: 1180px;
  margin: 0 auto;
  position: relative;
}
#package .inner > h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 3vw;
}
#package .inner > p {
  text-align: center;
  font-size: 1vw;
  margin-bottom: 100px;
  color: #999;
}
#package .inner .wrap article {
  width: 380px;
  height: 500px;
  float: left;
  margin-right: 20px;
  background: #fff;
  overflow: hidden;
  position: relative;
}
#package .inner .wrap article ::after {
  content: "";
  display: block;
  clear: both;
}
#package .inner .wrap article .pic {
  width: 100%;
  height: 255px;
  overflow: hidden;
}
#package .inner .wrap article .pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
#package .inner .wrap article .pic:hover img {
  transform: scale(1.2);
}
#package .inner .wrap article:last-of-type {
  margin-right: 0px;
}
#package .inner .wrap article .txt {
  padding: 15px;
}
#package .inner .wrap article .txt h5 {
  margin-bottom: 10px;
}
#package .inner .wrap article .txt h5 a {
  color: rgb(255, 150, 98);
}
#package .inner .wrap article .txt h2 {
  margin-bottom: 15px;
}
#package .inner .wrap article .txt h2 a {
  font-size: 1vw;
  color: #000;
}
#package .inner .wrap article .txt h2::after {
  content: "";
  display: block;
  clear: both;
  width: 150px;
  height: 2px;
  background-color: rgb(255, 150, 98);
  margin-top: 5px;
}
#package .inner .wrap article .txt p {
  margin-bottom: 27px;
}
#package .inner .wrap article .txt > a {
  background-color: rgb(255, 150, 98);
  border-radius: 50px;
  display: block;
  width: 100px;
  height: 25px;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  color: #fff;
}

#footer {
  background: rgb(231, 230, 226);
  width: 100%;
  height: 350px;
  position: relative;
  margin: 50px auto;
}
#footer .inner {
  width: 1180px;
  margin: 0 auto;
}
#footer .inner article {
  width: 380px;
  margin-right: 20px;
  float: left;
  padding: 60px;
}
#footer .inner article img {
  width: 50%;
  margin-bottom: 20px;
}
#footer .inner article:nth-of-type(1) h4 {
  margin-bottom: 20px;
}
#footer .inner article:nth-of-type(1) p {
  line-height: 1.7;
}
#footer .inner article:nth-of-type(2) h4 {
  font-size: 1.1vw;
  margin-bottom: 10px;
}
#footer .inner article:nth-of-type(2) li {
  line-height: 1.8;
}
#footer .inner article:nth-of-type(2) li i {
  margin-right: 10px;
}
#footer .inner article:last-child {
  margin-right: 0;
}
#footer .inner article:last-child h4 {
  font-size: 1.1vw;
}

/*# sourceMappingURL=style.css.map */
