.roombackground {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	.main {
		width: 100% auto;
		height: 800px;
		background: url(../img/sweetroommain.jpg);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.inner {
		width: 1180px;
		margin: 0 auto;
		h1 {
			height: 130px;
			position: absolute;
			left: 50%;
			bottom: 57%;
			transform: translate(-50%, -50%);
			font-size: 50px;
			font-weight: bold;
			line-height: 60px;
			font-family: 'Noto Sans KR', sans-serif;
			color: #fff;
			text-align: center;
			text-shadow: 0 2px 2px rgb(0 0 0 / 20%);
			opacity: 0;
			overflow: hidden;
			animation: introh1 1s forwards;
		}
		&::after {
			content: '';
			width: 20px;
			height: 3px;
			background: #fff;
			position: absolute;
			top: 41%;
			right: 49.5%;
			overflow: hidden;
			animation: after 1s forwards;
			opacity: 0;
		}
		span {
			opacity: 0;
			height: 28px;
			position: absolute;
			left: 50%;
			bottom: 52%;
			transform: translate(-50%, -50%);
			font-size: 20px;
			font-family: 'Noto Sans KR', sans-serif;
			color: #fff;
			text-align: center;
			text-shadow: 0 2px 2px rgb(0 0 0 / 20%);
			// overflow: hidden;
			animation: span 1s 1s forwards;
		}
	}
	h1 {
		text-align: center;
		font-size: 50px;
		font-family: 'Noto Sans KR', sans-serif;
		line-height: 1.6;
		padding-top: 90px;
	}
	h3 {
		width: 100%;
		text-align: center;
		font-size: 20px;
		font-family: 'Noto Sans KR', sans-serif;
		color: rgb(73, 73, 73);
		line-height: 1.6;
		padding-top: 50px;
		font-weight: normal;
		margin-bottom: 0px;
	}
}

@keyframes introh1 {
	0% {
		padding-top: 130px;
		opacity: 0;
	}
	100% {
		padding-top: 0;
		opacity: 1;
	}
}

@keyframes after {
	0% {
		padding-top: 3px;
		opacity: 0;
	}
	100% {
		padding-top: 0;
		opacity: 1;
	}
}

@keyframes span {
	0% {
		padding-top: 28px;
		opacity: 0;
	}
	100% {
		padding-top: 0;
		opacity: 1;
	}
}

.contentyoutube {
	padding-top: 0px;
	height: 900px;
	.inner {
		margin-top: 0px;
		h1 {
			font-size: 50px;
			font-family: 'Noto Sans KR', sans-serif;
			font-weight: bold;
			text-align: center;
			margin-bottom: 15px;
			vertical-align: middle;
		}
		> p {
			font-size: 20px;
			font-family: 'Noto Sans KR', sans-serif;
			color: rgb(110, 110, 110);
			text-align: center;
			margin-bottom: 100px;
		}
	}
}

.youtube {
	position: relative;
	margin: 0 auto;
}

.youtube .youtube__area {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.room {
	display: flex;
	width: 100%;
	padding: 150px 0;

	.inner {
		width: 100%;
		max-width: 1590px;
		padding: 0 20px;
		position: relative;
		margin: 0 auto;

		.wrap {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			position: relative;
			width: 100%;

			.left,
			.right {
				width: calc(50% - 20px);

				.swiper-slide {
					text-align: center;
					font-size: 18px;
					background: #fff;
				}
				img {
					width: 100%;
					margin-bottom: 50px;
				}
				h1 {
					font-size: 40px;
					font-family: 'Noto Sans KR', sans-serif;
					margin-bottom: 20px;
				}
				p {
					font-size: 20px;
					font-family: 'Noto Sans KR', sans-serif;
					margin-bottom: 50px;
					position: relative;
					padding-top: 16px;
					&::after {
						content: '';
						display: block;
						width: 100%;
						height: 1px;
						position: absolute;
						top: 0;
						left: 0;
						background: rgb(233, 233, 233);
					}
				}
				ol {
					li {
						a {
							span {
								font-size: 20px;
								font-family: 'Noto Sans KR', sans-serif;
								margin-bottom: 10px;
								color: #b38859;
							}
							&::after {
								content: '';
								display: block;
								clear: both;
								width: 20px;
								height: 20px;
								background-image: url(../img/arroww.png);
								background-size: 20px 20px;
								background-position: right center;
								display: inline-block;
								margin-left: 9px;
							}
						}
					}
				}
			}
		}
	}
}

.back {
	width: 100%;
	background: #fffbf7;
	position: relative;

	.inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 1590px;
		padding: 0 20px;
		margin: 0 auto;
		padding-top: 150px;
		padding-bottom: 32px;
	}

	.container {
		display: block;
		margin-right: 16px;
	}

	img {
		position: absolute;
		top: -40px;
	}

	h2 {
		font-size: 30px;
		font-family: 'Noto Sans KR', sans-serif;
		margin-bottom: 15px;
		letter-spacing: 1.4px;
	}
	p {
		font-size: 20px;
		font-family: 'Noto Sans KR', sans-serif;
		color: #757575;
	}
	a {
		display: block;
		min-width: 160px;
		font-size: 18px;
		font-family: 'Noto Sans KR', sans-serif;
		color: #b38859;
		text-align: right;
		border: 1px solid #b38859;
		text-align: center;
		padding: 5px 0;
		&:hover {
			color: #fff;
			background: #b38859;
			transition: 1s;
		}
	}
}
