@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');


*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none;}
ol,ul,li{list-style: none;}



#header{
  width: 100%;
  position: relative;
  transition: 1s;
  .inner{
    content: '';
    display: block;
    clear: both;
    width: 1180px;
    margin: 0 auto;
    position: relative;
    transition: 1s;
    a{
      display: block;
      img{
        width: 13%;
        position: absolute;
        top: 5vh;
        left: 3vh;
        z-index: 11;
      }      
    }
    .menuWeb{
      position: relative;
      #gnb{
        position: absolute;
        top: 6vh;
        right: 3vh;
        z-index: 11;
        li{
          float: left;
          a{
            position: relative;
            margin-right: 30px;
            font-size: 20px;
            font-family: 'Noto Sans KR', sans-serif;
            color: #fff;
            &::before{
              content: "";
              display: block;
              clear: both;
              width: 0px;
              height: 2px;
              position: absolute;
              bottom: -13%;
              left: 0;
              border-radius: 10px;
              background: #fff;
              transition: 0.3s;
            }
            &:hover::before{
              width:100%;
              background:rgba(255,150,98,1);
            }
          }
        }
      }
    }
  }
}

.mainbottom{
  width:1180px;
  position: absolute;
  bottom: 0;
  transform: translate(-50%, 0);
  left: 50%;
  // border: 1px solid red;
  z-index: 100;
  animation: main 2.5s linear;
 
  menu{
    
  li{

    float: left;
    width: 295px;
    height: 131px;
    border-top: 1px solid rgba(255,255,255,0.30);
    display: table;
    opacity: 1;


     &:nth-of-type(1)::before{
      position: absolute;
      top: 50%;
      left: 25%;
      width: 2px;
      height: 70px;
      margin-top: -35px;
      background: #fff;
      opacity: 0.5;
      display: block;
      content: "";
    }
   
    &:nth-of-type(2)::before{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0);
      width: 1px;
      height: 70px;
      margin-top: -35px;
      background: #fff;
      opacity: 1;
      display: block;
      content: "";
    }

    &:nth-of-type(1) h3::before{
      width: 57px;
      height: 57px;
      background-image: url(../img/icon1.png);
      background-size: 57px 57px ;
     }
    &:nth-of-type(2) h3::before{
      width: 62px;
      height: 62px;
      background-image: url(../img/icon2.png);
      background-size: 62px 62px ;
     }
     &:nth-of-type(3) h3::before{
      width: 64px;
      height: 64px;
      background-image: url(../img/icon3.png);
      background-size: 64px 64px ;
     }
    
   
    a{
      height: 100%;
      color: #fff;
      text-align: center;
      vertical-align: middle;
      display: table-cell;

      :hover em{
        opacity: 1;

      }
      :hover span{
        opacity: 1;

      }
      
      h3{
        font-size: 42px;
        color: #fff;
        line-height: 46px;
        display: block;
        font-weight: bold;
        &::before{
          
          vertical-align: -23px;
          display: inline-block;
          
          content: "";
          // margin: 10px;
        }

        em{
          color: #fff;
          text-align: left;
          vertical-align: middle;
          display: inline-block;
          opacity: 0.7;
          font-style: normal;
          font-weight: bold;
        }
       
        span{
          margin-top: -6px;
          font-size: 16px;
          color: #fff;
          
          display: block;
          opacity: 0.7;
        }
      }
    }
    figcaption{
      // border: 1px solid red;
      height: 100%;
      padding: 30px;
      background:#ffffff31;
      text-align: center;
      
      .date{
        color:#fff;
        font-size: 20px;
        margin-bottom: 5px;
        font-weight: bold;
       }
       .time{
        font-weight: bold;
        font-size: 30px;
        color:#fff;
        >em{
        font-weight: bold;
        font-size: 30px;
        color:#fff;

        }
        
       }
    }
  }

 }
}

@keyframes main{
  from{
   bottom:0;
   opacity: 0;
  }
  to{
   bottom:0%;
   opacity: 1;
  }
}




.background{
  width: 100%;
  position: relative;
  margin-bottom: 60px;
  background: #000;
  overflow: hidden;
  z-index: 4;
  .main{
    width: 100%;
    height: 100vh;
    background: url(../img/main.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.5;
  }
  .inner{
    width: 1180px;
    margin: 0 auto;
    h1{
      position: absolute;
      left: 50%;
      bottom: 35%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      font-weight: bold;
      line-height: 60px;
      font-family: 'Noto Sans KR', sans-serif;
      color: #fff;
      text-align: center;
      text-shadow: 1px 1px 1px rgba(0,0,0.5);
      animation: slide 2s;
    }
  }
}

@keyframes slide {
  from{
   bottom:0%;
   opacity: 0;
  }
  to{
   bottom:35%;
   opacity: 1;
  }
}

#first{
  width: 100%;
	height: 100vh;
  position: relative;
  display: flex;
	justify-content: center;
	align-items: center;
  margin-bottom: 120px;
  main{
    width: 1180px;
		height: 1000px;
    nav{
      width: 1180px;
      height: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      ul{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        li{
          display: flex;
          justify-content: center;
					align-items: center;
          font-size: 20px;
          font-weight: bold;
          font-family: 'Noto Sans KR', sans-serif;
          color: rgb(158, 158, 158);
          margin-right: 20px;
          cursor: pointer;
          &.on{
            color:rgba(248, 128, 68, 0.888);
          }
        }
      }
    }
    section{
      width: 1180px;
			height: 790px;
      position: relative;
      article{
        width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
        justify-content: center;
				align-items: center;
        display: none;
        opacity: 0;
        transition: 3s;
        &::after{
          content: '';
          width: 1180px;
          height: 790px;
          margin: 0 auto;
          position: absolute;
          top: 0;
          left: 0;
          justify-content: center;
          align-items: center;
          display: none;
          background: #000;
          opacity: 0.8;
          z-index: 2;
          cursor: pointer;
        }
        aside{
          width: 0px;
          height: 4px;
          margin: 0 auto;
          position: absolute;
          top: 42%;
          left: 50%;
          transform: translate(-50%, -50%);
          justify-content: center;
          align-items: center;
          background: #f5b082;
          opacity: 0;
          z-index: 90;
          transition: 1s;
        } 
        h2{
          position: absolute;
          top: 35%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 2vw;
          font-weight: bold;
          font-family: 'Noto Sans KR', sans-serif;
          color:rgb(254, 118, 50);
          text-align: center;
          margin-bottom: 20px;
          opacity: 0;
          z-index: 90;
          transition: 1s;
        }
        h5{
          position: absolute;
          top: 47%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1vw;
          font-family: 'Noto Sans KR', sans-serif;
          color:rgba(255,150,98,1);
          text-align: center;
          margin-bottom: 10px;
          opacity: 0;
          z-index: 90;
          transition: 1s;
        }
        p{
          position: absolute;
          top: 58%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: 'Noto Sans KR', sans-serif;
          color: #fff;
          text-align: center;
          opacity: 0;
          z-index: 90;
          transition: 1s;
        }
        &.on{
          display: flex;
          opacity: 1;
          &:hover aside{
            width: 50px;
            display: flex;
            opacity: 1;
          }
          &:hover::after{
            display: flex;
            transition: 5s;
          }
          &:hover h2{
            opacity: 1;
          }
          &:hover h5{
            opacity: 1;
          }
          &:hover p{
            opacity: 1;
          }
        }
        div{
          width: 380px;
          float: left;
          margin-right: 20px;
        }
        &:nth-of-type(1){
          .left{
            .box1{
              height: 465px;
              background: url(../img/dining1.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              margin-bottom: 20px;
            }
            .box2{
              height: 305px;
              background: url(../img/dining2.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
          .center{
            .box1{
              height: 250px;
              background: url(../img/dining3.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              margin-bottom: 20px;
            }
            .box2{
              height: 250px;
              background: url(../img/dining4.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              margin-bottom: 20px;
            }
            .box3{
              height: 250px;
              background: url(../img/dining5.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
            }      
          }
          .right{
            margin-right: 0px;
            .box1{
              height: 305px;
              background: url(../img/dining6.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              margin-bottom: 20px;
            }
            .box2{
              height:465px;
              background: url(../img/dining7.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        }
        &:nth-of-type(2){
          .lefttwo{
            .box1{
              height: 465px;
              background: url(../img/Fitness1.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              margin-bottom: 20px;
            }
            .box2{
              height: 305px;
              background: url(../img/Fitness2.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
          .centertwo{
            .box1{
              height: 250px;
              background: url(../img/Fitness3.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              margin-bottom: 20px;
            }
            .box2{
              height: 250px;
              background: url(../img/Fitness4.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              margin-bottom: 20px;
            }
            .box3{
              height: 250px;
              background: url(../img/Fitness5.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
            }      
          }
          .righttwo{
            margin-right: 0px;
            .box1{
              height: 305px;
              background: url(../img/Fitness6.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              margin-bottom: 20px;
            }
            .box2{
              height:465px;
              background: url(../img/Fitness7.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }        
        }
        &:nth-of-type(3){
          .leftthird{
            .box1{
              height: 465px;
              background: url(../img/wedding1.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              margin-bottom: 20px;
            }
            .box2{
              height: 305px;
              background: url(../img/wedding2.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
          .centerthird{
            .box1{
              height: 250px;
              background: url(../img/wedding3.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              margin-bottom: 20px;
            }
            .box2{
              height: 250px;
              background: url(../img/wedding4.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              margin-bottom: 20px;
            }
            .box3{
              height: 250px;
              background: url(../img/wedding5.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
            }      
          }
          .rightthird{
            margin-right: 0px;
            .box1{
              height: 305px;
              background: url(../img/wedding6.jpg);
              background-position: center center;
              background-size: cover;
              background-repeat: no-repeat;
              margin-bottom: 20px;
            }
            .box2{
              height:465px;
              background: url(../img/wedding7.jpg);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }        
        }
      }
    }
  }
}

#introduce{
  width: 100%;
  position: relative;
  // height: 900px;
  margin-bottom: 800px;
  .wrap{
    width: 100%;
    position: relative;
    
    background-color: #fff;
    
    .inner{
      width:1180px;
      height: 400px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 3;
      h2{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 30px;
        
      }
      p{
        font-family: 'Noto Sans KR', sans-serif;
        text-align: right;
        font-size: 20px;
        &::after{
          content: '';
          display: block;
          clear:both;
          width:5px;
          height: 120px;
          position: absolute;
          top:40%;
          right:52%;
          background: #999;
          opacity: 0.2;
         
        }
      }
    }
  }
  .back{
    width: 100%;
    height: 800px;
    position: absolute;
    top:5%;
    z-index: -1;
    background-image: url(../img/introducebackground.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes leftslide {
  0%{
  left:-50%;
  opacity: 0;
  }
  100%{
   left:0%;
   opacity: 1;
  }
}

#package{
  width:100%;
  height: 800px;
  position: relative;
  // margin-bottom: 100px;
    .packbackground{
      width:100%;
      height: 400px;
      position: absolute;
      top:51%;
      left:0;
      background: #e7dbd1;
    }
    .inner{
      width: 1180px;
      margin: 0 auto;
      position: relative;
      overflow: hidden;
      >h1{
        font-size: 3vw;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: bold;
        // font-weight: 700px;
        vertical-align: middle;
        text-align: center;
        margin-bottom: 15px;
        
      } 
      >p{
        font-size: 1vw;
        font-family: 'Noto Sans KR', sans-serif;
        color:rgb(110, 110, 110);
        text-align: center;
        margin-bottom: 100px;
      }
      .sidebar{
        width: 380px;
        height: 500px;
        position: relative;
        .wrap{
          width: 700%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          ::after{
            content: '';
            display: block;
            clear: both;
          }
          article{
            width: calc(100% / 7);
            height: 500px;
            position:relative;
            float:left;
            background: #fff;
            margin-right: 20px;
            overflow: hidden;
            &:nth-of-type(6){
              margin-right: 0px;
            }
            .pic{
              width:100%;
              height: 255px;
              overflow: hidden;
              img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 1s;
              }
              &:hover img{
                transform: scale(1.2);
              }
            }
            .txt{
              padding: 40px;
              h5{
                font-family: 'Noto Sans KR', sans-serif;
                margin-bottom: 8px;
                a{
                  color: rgb(254, 120, 53);
                  font-weight: bold;
                }
              }
              h2{
                font-weight: bold;
                font-family: 'Noto Sans KR', sans-serif;
                margin-bottom: 10px;
                a{
                  font-size: 1vw;
                  color:#000;
                }

              }
              p{
                font-family: 'Noto Sans KR', sans-serif;
                margin-bottom: 11px;
              }
              >a{
                position: absolute;
                bottom:48px;
                right:17%;
                display: block;
                font-size: 15px;
                line-height: 2;
                color: rgb(135, 135, 135);
                text-align: center;
                font-weight: bold;

                i{
                  transform: scale(2);
                }
                &:hover{
            
                  color:#ff893a;

                }
                
               
              }
              em{
                font-style: normal;
                font-size: 14px;
                color:rgb(121, 121, 121);
              }
            }
          }          
        }
      }
    }
  .prev{
    position: absolute;
    top: 65%;
    left: 15%;
  }
  .next{
    position: absolute;
    top: 65%;
    right: 14%;
  }
}

#footer{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 50px auto;
  background: rgba(231,230,226,1);
  .inner{
    width:1180px;
    margin: 0 auto;
    article{
      width:380px;
      float:left;
      text-align: center;
      padding:60px;
      margin-right: 20px;
      img{
        width: 50%;
        margin-bottom: 30px;
      }
      &:nth-of-type(1){
        h4{
          font-family: 'Noto Sans KR', sans-serif;
           margin-bottom: 20px;}
        p{line-height: 1.7;
          font-family: 'Noto Sans KR', sans-serif;}
      }
      &:nth-of-type(2){
        h4{
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 1.1vw;
          margin-bottom: 10px;
        }
        .contact{
          >li{
            line-height: 2;
            >i{
              margin-right: 10px;
            }
          }
        }
        .contactsns{
          margin-top: 10px;
          a{
            color:#000;
            i{
              font-size: 20px;
              padding: 0 10px
            }
          }
        }
      }
      &:last-child{
        margin-right: 0;
        h4{
          font-size: 1.1vw;
          font-family: 'Noto Sans KR', sans-serif;
          margin-bottom: 10px;
        }
        ul{
          li{
            line-height: 2.5;
            a{
              color:#000;
            }
          }
        }
      }
    }
  }
}










