$tablet: 1179px;
$tablet2: 1079px;
$mobile: 539px;

.m_br {
    display:none;
}

.s_m_br {
    display:none;
}

section.back {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    margin-top:90px;

    a {
        position:static;
        align-self:flex-end;
    }
}

.room {
    .inner {
        display:flex;
    }
}

#footer {
    clear: both;
}


@media screen and (max-width: $tablet) {
    .m_br {
        display:block;
    }

    #tabmenu {
        .diningmenu {
            .menu {
                li {
                    width:calc(100% / 5);
                    text-align:center;
                    padding-right:0;
                }
            }
            section {
                article {
                    main {
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

    .fitbackground, .healthbackground {
        height:auto;

        .info {
            width:100%;
            max-width:1180px;
            margin-bottom:100px;
        }
    }

    .location:not(section) {
        width:calc((100% / 3) - 12px);
    }

    .introduce {
        padding-right:20px;
        padding-left:20px;
    }

    .healthbackground, .fitbackground {
        > *:not(.main, .youtube) {
            padding-right:20px;
            padding-left:20px;
        }
    }

    .fitness, .health {
        display:flex;
        padding-bottom:70px;

        .inner {
            padding:0 20px;

            .wrap {
                height:auto;
            }
        }
    }

    .enter {
        .inner {
            fieldset {
                table {
                    td {
                        input[type=text],
                        input[type=date],
                        select#company,
                        select#room,
                        textarea#comments {
                            width:100%;

                            + * {
                                margin-top:12px;
                            }
                        }
                    }
                }
            }
        }
    }

    .room {
        .inner {
            height:auto;
            .wrap {
                .right {
                    margin-top:60px;
                }
            }
        }
    }

    .enter {
        .inner {
            width:100%;
            padding-right:20px;
            padding-left:20px;
        }
    }

    .room {
        padding:200px 20px 0 20px;

        .inner {
            display:flex;

            .wrap {
                .left, .right {
                    position:relative;
                    
                    p::after {
                        bottom: auto;
                        top: 0;
                        width: 100%;
                        z-index: 1;
                    }
                }
            }
        }
    }

    #tabmenu {
        .diningmenu {
            section {
                article {
                    main {
                        h2 {
                            font-size:32px;
                        }
                    }
                }
            }
            
        }
    }

    #introduce {
        .mainbottom {
            menu {
                li:nth-of-type(2)::before {
                    height: 100%;
                }
            }
        }
    }

    #footer {
        height:auto;

        .inner {
            display:flex;
            flex-direction:column;
            padding:32px 20px;

            .left, .center, .right {
                height:auto;
                padding:0;
                text-align:center;
            }

            .left {
                width:100%;
                max-width:140px;

                article {
                    width:100%;

                    a {
                        display:block;

                        > img {
                            width:100%;
                            display:block;
                        }
                    }
                }
            }

            .center {
                margin-top:32px;
                width:100%;

                ul.third {
                    display:flex;
                    justify-content:center;
                    height:auto;
                    margin-bottom:24px;

                    > li {
                        margin:0 10px;
                    }
                }
            }

            .right {
                margin-top:20px;

                h2::after {
                    display:none;
                }

                article {
                    position:relative;

                    &::after {
                        content: "";
                        display: block;
                        width: 100%;
                        height: 2px;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform:translateY(-50%);
                        background: white;
                        opacity: 0.2;
                        z-index: 900;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $tablet2) {
    .introbackground {
        .inner {
            span {
                overflow:visible; //또는 height값 수정해도 됩니다.
            }
        }
    }

    .room {
        .inner {
            .wrap {
                .left, .right {
                    width:100%;
                }
            }
        }
    }
}


@media screen and (max-width: $mobile) {
    .s_m_br {
        display:block;
    }

    .roombackground, .diningbackground {
        > h3 {
            padding:30px;
        }
    }

    section.back {
        height: auto;
        width: 100%;
        padding: 20px;

        h2 {
            padding-top:120px;
        }
    }

    #tabmenu {
        padding:200px 20px 100px 20px;

        .diningmenu {
            ul.menu {
                display: flex;
                flex-wrap:wrap;
                height:auto;
                border-bottom:0;
    
                > li {
                    width:calc(100%/3);
                    border-bottom:1px solid rgba(153, 153, 153, 0.349);

                    a {
                        line-height:60px;
                        position:relative;
                        top: 1px;
                    }
                }
            }

            section {
                article {
                    main {
                        h2 {
                            font-size:16px;
                            margin-bottom:12px;
                        }

                        h3 {
                            font-size:14px;
                        }

                        .btn {
                            a {
                                margin-top:12px;
                                padding:6px 8px;
                                font-size:14px;
                            }
                        }
                    }
                }
            }
        }
    }

    .fitness, .health {
        .inner {
            .wrap {
                display:flex;
                flex-direction:column;

                .left, .right {
                    width:100%;
                }
            }
        }
    }

    .enter {
        .inner {
            fieldset {
                table {
                    th {
                        padding:12px;
                        line-height:1.5;
                    }

                    td {
                        padding:16px;
                    }
                }
            }
        }
    }

    .content.location {
        > *:not(#footer, .sub_visual) {
            width:100%;
            padding:0 20px;
        }
    }

    .location {
        .inner {
            width:100%;
        }
    }

    .community{
        .inner {
            .pagination {
                .numbers {
                    a {
                        margin:0 4px;
                    }
                }
            }
        }
    }

    #gallery {
        main {
            nav {
                ul {
                    width:100%;
                    justify-content:center;

                    li {
                        margin:0 20px;
                    }
                }
            }
        }
    }

    #card {
        height:auto;
        overflow:hidden;

        .inner {
            .after, .before {
                top:22%;
                right:8vw;
            }
            
            .before {
                left:8vw;
            }

            .rotate {
                article {
                    top:22%;
                }
            }
        }

        .lounge {
            height:auto;
            padding-right:20px;
            padding-left:20px;

            .wrap {
                display:flex;
                flex-direction:column;
                height:auto;
                padding:0;

                > article {
                    width:100%;

                    [class*="box"] {
                        width:100%;

                        &:hover {
                            &::after {
                                width:100%;
                            }

                            [class*="all"] {
                                left:50%;
                                transform:translateX(-50%);
                            }
                        }
                    }
                }
            }
        }
    }

    #footer {
        .inner {
            .right {
                width:100%;

                h2 {
                    padding-right:0;
                }

                article {
                    width:100%;
                }

                a {
                    i {
                        font-size:20px;
                    }
                }
            }
        }
    }
}